$main-color:#008BF2;
$color-text-secondary:                                #DEDEDE;
$color-text-gray:                                     #AAAAAA;
$color-text-primary:                                  #FFFFFF;
.btn-cancel {
  min-width: 100px;
  color: $color-text-secondary !important;
  border-color: $color-text-gray !important;
  background: none;
  &:hover {
    color: $color-text-primary !important;
    border-color: $color-text-gray!important;
    background-color: #bbbbbb !important;
  }
}
.btn {
  border-radius: 50px;
  border-color: $main-color;
  color: $main-color;
  border-width: 2px;
  padding: 12px 30px;
  &.auth-btn{
    font-family: 'SF UI Display';
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-color: $main-color;
    background: transparent;
    transition: all .3s;
    &:hover{
      border-color: #0d98ff;
      background-color: #0d98ff;
    }
  }
  &.cancel-btn {
    border-color: rgb(60,60,60);
    color: rgb(180, 180, 180)
  }
 /* font-size: 10px;
  font-weight: 700;
  color: $colorBlue;
  outline: none;

  &.btn-center {
    margin: 0 auto;
  }

  &.btn-primary {
    color: $white;
    background-color: transparent;
    border: 1px solid rgba($white, .3);
    min-width: 165px;
    height: 30px;
    border-radius: 30px;
    transition: all .3s;
    &:hover {
      background-color: transparent;
      border-color: $colorBlue;
    }
    &.btn-orange {
      border-color: $colorBlue;
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);;
      }
    }
  }

  &.btn-circle {
    color: $black;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba($white, .5);
    border: none;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    transition: all .3s;
    &:hover {
      background-color: rgba($white, .9);
    }
  }*/
}
