.btn {
  font-size: 10px;
  font-weight: 700;
  color: $colorBlue;
  outline: none;

  &.btn-center {
    margin: 0 auto;
  }

  &.btn-primary {
    color: $white;
    background-color: transparent;
    border: 1px solid rgba($white, .3);
    min-width: 165px;
    height: 30px;
    border-radius: 30px;
    transition: all .3s;
    &:hover {
      background-color: transparent;
      border-color: $colorBlue;
    }
    &.btn-orange {
      border-color: $colorOrange;
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);;
      }
    }
  }

  &.btn-circle {
    color: $black;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba($white, .5);
    border: none;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    transition: all .3s;
    &:hover {
      background-color: rgba($white, .9);
    }
  }
}
