body{
  &.page-404{
    .app-container{
      background: #09192E;
    }
  }
}

.page.error-page {
  .main-container {
    .page-404-content {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h1 {
      font-size: 150px;
      line-height: .78;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.2);
      margin: 0 0  40px;
      font-family: "Roboto Condensed", sans-serif;
    }
    h5 {
      color: $white;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 40px;
      line-height: 1.5;
    }
    .btn-primary {
      color:#008BF2;
      &:hover{
        color: #fff;
      }
    }
  }
}