<div class="modal-content">
  <div class="modal-body">
    <h2 class="modal-title text-center">SIGN IN</h2>
    <div class="row clearfix form-wrapper">

      <form class="clearfix" name="loginForm" novalidate data-ng-submit="$ctrl.logIn(loginForm.$valid)">

        <fieldset data-ng-disabled="$ctrl.isSubmitting">

          <div class="row clearfix">
            <fieldset class="form-group styled-placeholder clearfix">

              <label for="login-form-username" class="placeholder">Username</label>

              <input class="form-control"
                     id="login-form-username"
                     data-ng-model="$ctrl.formFields.username"
                     required
                     type="text"
                     name="username"
                     data-ng-focus="loginForm.username.focused = true">

            </fieldset>
          </div>

          <div class="row clearfix">
            <fieldset class="form-group styled-placeholder clearfix">


              <label for="login-form-password" class="placeholder">Password</label>

              <input class="form-control"
                     id="login-form-password"
                     data-ng-model="$ctrl.formFields.password"
                     required
                     type="password"
                     name="password"
                     data-ng-minlength="3"
                     data-ng-focus="loginForm.password.focused = true">


            </fieldset>
          </div>

          <div class="text-center" ng-if="$ctrl.wrongCredentials" style="margin-bottom: 10px; color:rgba(255, 0, 0, 0.5)">
            Wrong username or password
          </div>

          <div class="row clearfix text-center form-button">
            <button type="submit" style="margin-right:30px" class="btn btn-primary btn-orange btn-center auth-btn">Sign In</button>
            <button type="button" class="btn btn-primary btn-orange btn-center auth-btn cancel-btn" ng-click="$ctrl.cancel()">Cancel</button>
          </div>

        </fieldset>

      </form>

    </div>
  </div>
</div>