<div class="page clearfix auth-page">

  <div class="center-page clearfix">

    <div class="row page-title clearfix">
      <h1 class="text-center">SIGN IN</h1>
    </div>


    <div class="row clearfix form-wrapper">

      <form class="clearfix" name="loginForm" novalidate data-ng-submit="$ctrl.logIn(loginForm.$valid)">

        <fieldset data-ng-disabled="$ctrl.isSubmitting">

          <div class="row clearfix">
            <fieldset class="form-group styled-placeholder clearfix">

              <label for="login-form-username" class="placeholder">Username</label>

              <input class="form-control"
                     id="login-form-username"
                     data-ng-model="$ctrl.formFields.username"
                     required
                     type="text"
                     name="username"
                     data-ng-class="{'invalidField':loginForm.username.$invalid,
                           'validField':loginForm.username.$valid,
                           'activeField':loginForm.username.$viewValue}"
                     data-ng-focus="loginForm.username.focused = true">

            </fieldset>
          </div>

          <div class="row clearfix">
            <fieldset class="form-group styled-placeholder clearfix">


              <label for="login-form-password" class="placeholder">Password</label>

              <input class="form-control"
                     id="login-form-password"
                     data-ng-model="$ctrl.formFields.password"
                     required
                     type="password"
                     name="password"
                     data-ng-minlength="3"
                     data-ng-class="{'invalidField':loginForm.password.$invalid,
                           'validField':loginForm.password.$valid,
                           'activeField':loginForm.password.$viewValue}"
                     data-ng-focus="loginForm.password.focused = true">

            </fieldset>
          </div>


          <div class="text-center" ng-if="$ctrl.wrongCredentials" style="margin-bottom: 10px; color:rgba(255, 0, 0, 0.5)">
            Wrong username or password
          </div>


          <div class="row clearfix text-center form-button">
            <button type="submit" class="btn btn-primary btn-orange btn-center auth-btn">Sign in</button>
            <button type="button" class="btn btn-primary btn-orange btn-center auth-btn cancel-btn" ng-click="$ctrl.gohome()">Cancel</button>
          </div>

        </fieldset>

      </form>

    </div>

  </div>

</div>
