<div class="page clearfix auth-page">

  <div class="center-page clearfix">

    <div class="row page-title clearfix">
      <h1 class="text-center">Sign in</h1>
    </div>


    <div class="row clearfix form-wrapper">

      <form class="clearfix" name="loginForm" novalidate data-ng-submit="$ctrl.logIn(loginForm.$valid)">

        <fieldset data-ng-disabled="$ctrl.isSubmitting">

          <div class="row clearfix">
            <fieldset class="form-group styled-placeholder clearfix">

              <label for="login-form-username" class="placeholder">Username</label>

              <input class="form-control"
                     id="login-form-username"
                     data-ng-model="$ctrl.formFields.username"
                     required type="text" name="username"
                     data-ng-class="{'invalidField':loginForm.username.$invalid,
                           'validField':loginForm.username.$valid,
                           'activeField':loginForm.username.$viewValue}"
                     data-ng-focus="loginForm.username.focused = true">

              <span class="messages-container">
              <span class="error-messages-container" data-ng-messages="loginForm.username.$error"
                    data-ng-if="loginForm.username.focused || loginForm.$submitted">
                <span data-ng-message="required">This field is required.</span>
                <span data-ng-message="server">{{loginForm.username.serverErrorMsg}}</span>
              </span>
            </span>

            </fieldset>
          </div>

          <div class="row clearfix">
            <fieldset class="form-group styled-placeholder clearfix">


              <label for="login-form-password" class="placeholder">Password</label>

              <input class="form-control"
                     id="login-form-password"
                     data-ng-model="$ctrl.formFields.password"
                     required type="password" name="password"
                     data-ng-minlength="3"
                     data-ng-class="{'invalidField':loginForm.password.$invalid,
                           'validField':loginForm.password.$valid,
                           'activeField':loginForm.password.$viewValue}"
                     data-ng-focus="loginForm.password.focused = true">


              <span class="messages-container">
              <span class="error-messages-container" data-ng-messages="loginForm.password.$error"
                    data-ng-if="loginForm.password.focused || loginForm.$submitted">
                    <span data-ng-message="required">This field is required.</span>
                    <span data-ng-message="minlength">Please enter no more than 3 characters.</span>
                    <span data-ng-message="server">{{loginForm.password.serverErrorMsg}}</span>
                </span>
            </span>

            </fieldset>
          </div>

          <div class="row clearfix text-center form-button">
            <button type="submit" class="btn btn-primary btn-orange btn-center">SIGN IN</button>
          </div>

        </fieldset>

      </form>

    </div>

  </div>

</div>
