<div class="page clearfix project-page">
  <iframe data-ng-src="{{$root.trustSrc($ctrl.projectUrl)}}"
          frameborder="0" width="100%" height="100%"
          id="project_container"
          type="text/html" allowfullscreen allowvr>
  </iframe>
  <img data-ng-show="$ctrl.showBackBtn" class="nav_button" data-ng-click="$ctrl.back()" src="/images/back.png">
  <!--<div class="clearfix back-btn-cont affix" data-ng-show="$ctrl.showBackBtn">
    <button type="button" class="none" data-ng-click="$ctrl.back()">
    </button>
  </div>-->
</div>